*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#form-header{
    width: 100vw;
    height: 50px;
    position: fixed;
}
#detail-pan{
    position: absolute;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#left-section{
    width: 40vw;
}
#right-section{
    width: 60vw;
}
#left-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
#form-pan{
    top: 20%;
    position: relative;

}
#form-pan form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
}
input ,select{
    width: 45%;
    height: 35px;
    border-radius: 5px;
}
