*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
#form-header{
    width: 100vw;
    height: 50px;
    position: fixed;
}
#detail-pan{
    position: absolute;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#left-section{
    width: 40vw;
}
#right-section{
    width: 60vw;
}
#left-section img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
