* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#form-header {
  width: 100vw;
  height: 50px;
  position: fixed;
}
header {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100px;
}
aside {
  padding-top: 20px;
}
#detail-pan {
  position: absolute;
  width: 100vw;
  height: 80vh;
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}
#left-section {
  width: 40vw;
}
#right-section {
  width: 60vw;
}
#left-section img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#form-pan {
  top: 20px;
  position: relative;
}
#form-pan form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
input,
select {
  width: 45%;
  height: 35px;
  border-radius: 5px;
}
#btn-save {
  background-color: green;
}
#btn-reset {
  background-color: red;
}
#btn-save,
#btn-reset {
  width: 200px;
  height: 50px;
  border-radius: 5px;
  font-weight: bold;
  color: white;
}
#alert-pan-success {
    color: green;
    font-weight: 600;
    font-size: 1.5rem;
}
#alert-pan-failed {
    color: red;
    font-weight: 600;
    font-size: 1.5rem;
}
